doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  script(type='text/javascript' src='https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.4.1.min.js')
  // DevExtreme themes
  link(rel='stylesheet' href='https://cdn3.devexpress.com/jslib/20.1.3/css/dx.common.css')
  link(rel='stylesheet' href='https://cdn3.devexpress.com/jslib/20.1.3/css/dx.light.css')
  // DevExtreme library
  script(type='text/javascript' src='https://cdn3.devexpress.com/jslib/20.1.3/js/dx.all.js')
  // Bootstrap CSS
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
  link(rel="stylesheet", href="style.css")
  title ROI-Calculator Option 1
body.d-flex.flex-column#site-wrapper
    section.my-auto
        .container
            img.img-fluid.first-image(src='/images/isi-super-woman-2.png')
            .row.mx-auto.mb-3
                .col-12.col-md-6.mx-auto
                    h1.text-center Calculate your projected ROI for an incentive program. 
                    //- small.text-muted.d-block.text-center#step-text
            .row.mx-auto.mb-2
                .col-12.col-md-7.col-lg-5.mx-auto.bg-white.p-4.shadow#form-wrapper.border-top.border-primary    
                    .row#roi-form
                        .col-12
                            form(action="")
                                .form-group
                                    label(for='TargetAudienceSize') Target Size of Incentive Audience
                                    input#TargetAudienceSize.form-control(type='text' aria-describedby='TargetAudienceSize')
                                label(for='avgAnnualSales') Average Annual Sales per Audience Member
                                .input-group.mb-3   
                                    input#avgAnnualSales.form-control.d-block(type='text' aria-describedby='avgAnnualSales')
                                    .input-group-append
                                        span.input-group-text $
                                label(for='grossMargin') Average Gross Margin (Current Product Sales) %
                                .input-group.mb-3
                                    input#grossMargin.form-control(type='text' aria-describedby='grossMargin')
                                    .input-group-append
                                        span.input-group-text %
                                label(for='currentRoi') Current ROI on Average Marketing Dollars (%)
                                .input-group.mb-3  
                                    input#currentRoi.form-control(type='text' aria-describedby='currentRoi')
                                    .input-group-append
                                        span.input-group-text %
                                label(for='salesBudgeted') Percent of Sales Budgeted for Incentive Payout
                                .input-group.mb-3   
                                    input#salesBudgeted.form-control(type='text' aria-describedby='salesBudgeted')
                                    .input-group-append
                                        span.input-group-text %
                                label(for='salesIncreaseTarget') Sales Increase Target
                                .input-group.mb-3   
                                    input#salesIncreaseTarget.form-control(type='text' aria-describedby='salesIncreaseTarget')
                                    .input-group-append
                                        span.input-group-text %
                                .form-group.mb-0
                                    button.btn.btn-primary.btn-block#nextStep(type="button")    Calculate Your ROI
                                    
                               

            .row#roi-next-step
                .col-12.col-md-7.col-lg-5.mx-auto.bg-white.p-4.shadow
                    .row
                        .col-12
                            #chart
        
            .row#roi-results
                .col-12.col-md-7.col-lg-5.mx-auto.bg-white.p-4.shadow
                    p Your projected ROI Results


// Optional JavaScript
// jQuery first, then Popper.js, then Bootstrap JS

script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6' crossorigin='anonymous')
script(src='app.js')